.icon__container {
  display: flex;
}
[theme-variant="dark"] {
  .icon {
    --primary-color: rgba(146, 146, 146, 0.747);

    &:hover {
      --primary-color: #ffffff;
    }
  }

  #outline-blue {
    --primary-color: rgb(37, 92, 165);
  }
  #crossed-green {
    --primary-color: rgb(13, 95, 20);
  }
}
.icon {
  width: 100%;
  height: auto;
  max-height: 85px;
  cursor: pointer;
  --primary-color: #bada55;

  &:hover {
    --primary-color: #91aa3f;
  }
}

#outline-blue {
  --primary-color: rgb(78, 154, 253);

  &:hover {
    --primary-color: rgb(28, 98, 190);
  }
}
#crossed-green {
  --primary-color: rgb(121, 240, 131);
}
